* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}



#contenedor-menu{
    background:black;
    padding-top: 50px;
    padding-bottom: 80px;
    height: 220px;
}

#menu{
    float: right;
    padding-top: 70px;
    margin-right: 2%;
}

#menu a{
    padding: 0px 50px;
}

.nav-link{
    color: aliceblue;
}

#logo{
    width: 270px; 
    height: 128px;
    margin-top: -7px;
    margin-left: 50px;

}

#renovable{
    width: 280px; 
    height: 178px;
    float: right;
    padding-right: 45px;
    margin-top: -40px;
}

#logo_inicio{
    width: 40px;
    margin-top: -10px;
}


/*--BOTONES--*/

#calcular{
    background: #f77f00;
    border-color: #f77f00;
    font-weight: bold;
}














